## 2장 노트정리

이 파일은 2장을 학습하면서 실행한 내용을 정리한 것이다.

날짜 : 2025.9.9

작성자 : 김경연 (202311383)

In [5]:
print("Hello, 여러분!!")

Hello, 여러분!!

In [6]:
x = 3
print(f"x = {x}")

x = 3

>>> x = 3
>>> x
3
>>>

In [7]:
x = 3
x

3

In [8]:
print(10+20)

30

In [9]:
print("동양미래대학교")

동양미래대학교

In [10]:
print("abc" *3)

abcabcabc

In [11]:
x=25
y=32
z=x+y

print(x, y)

25 32

In [12]:
print(x, '+', y, '=', z)

25 + 32 = 57

In [13]:
print(10+20)

30

In [15]:
print("10"+"20")

1020

In [14]:
print("abc"*3)

abcabcabc

In [16]:
n=10
print("n=%d" %n)

n=10

In [18]:
m = 5.2
print("m=%.1f, n=%d" %(m,n))

m=5.2, n=10

>>> a = True
>>> type(a)
<class 'bool'>
>>>

>>> n = input('type a number:\ ')
type a number: 3
>>> n
'3'
>>> float(n)
3.0
>>> n = str(3)
>>> n
'3'
>>>

>>> name = input('Name:')
Name:김경연
>>> print("Hello," + name)
Hello,김경연

>>> a = int(input('Number 1: '))
Number 1: 5
>>> b = int(input('Number 2: '))
Number 2: 8
>>> print(a*b)
40

>>> C = float(input("Type 섭씨온도 : "))
Type 섭씨온도 : 52
>>> F = C*9/5 + 32
>>> print("화씨온도는", F)
화씨온도는 125.6

## 자료형과 크기

부울형

>>> aVar = True
>>> bVar = False
>>> type(aVar)
<class 'bool'>
>>> 
>>> a = 1
>>> b = 2
>>> c = a > b
>>> c
False
>>> d = a < b
>>> d
True

## 자료형과 

정수형

>>> intVar = 5
>>> type(intVar)
<class 'int'>

## 자료형과 

실수형

>>> fVar = 1.0
>>> type(fVar)
<class 'float'>

## 자료형과 크기

문자열(string)

>>> strVar = "test"
>>> type(strVar)
<class 'str'>

## 논리 연산자

>>> exam = 85
>>> report = 85
>>> exam >= 80 and report >= 80   
True
>>> exam >= 90 or report >= 90
False
>>> not(exam<90)
False

## 멤버연산자

>>> 'py' in 'python'
True
>>> 'ty' not in 'python'
True

## 식별 연산자

>>> a = 2
>>> b = 2
>>> id(a)
140737386279880
>>> id(b)
140737386279880

>>> id(a) == id(b)
True
>>> a is b
True
>>> a is not b
False